/* internal nav */

.attractions-nav {
  padding: 1rem;
}

.attractions-nav ul {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  list-style: none;
}

.attractions-nav ul::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;

  height: 3px;
  bottom: 3px;
  background-color: var(--darkColor);
}

.attractions-nav li::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--darkColor);
}

/* .attractions-nav li:nth-of-type(2)::after {
  border-radius: 10%;
} */

.attractions-nav li {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  max-width: 120px;
}

.attraction-main {
  min-height: 100vh;
}

.attraction-main img {
  width: 100%;
  height: 60vh;

  object-position: center;
  object-fit: cover;
}

.info-wrapper {
  padding: 1rem;
}

.attraction-main h2 {
  font-weight: 200;
  font-size: clamp(2rem, 1vw, 4rem);
}

.attraction-main p:nth-of-type(1) {
  margin-bottom: 1rem;
}

.attraction-main p {
  line-height: 1.3;
}

/* recommended section */

.recommended {
  padding: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.placeholder {
  height: 150px;
  width: 100%;
  border: 1px solid var(--darkColor);
  border-radius: 10px;
}
