:root {
  --primaryColor: red;
  --secondaryColor: red;
  --highlightColor: #c8102e;
  --whiteColor: #ffffff;
  --darkColor: #252525;
  --boxShadow: #0000003d 0px 3px 8px;
}

/* global styles */

body {
  font-family: "Taviraj", sans-serif;
  /* prevents nav from covering items on bottom of page */
  /* padding-bottom: 5rem; */
}

h1 {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}

/* links */

a {
  padding: 1rem 0.5rem;
}
a,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

a:focus {
  outline: 1px dotted;
}

/* header and nav */

header {
  position: absolute;

  z-index: 9999;
}

.logo {
  display: block;
}

.logo img {
  width: clamp(3.125rem, 4vw, 5rem);
}

header .logo {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.global-nav {
  position: fixed;

  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  width: 300px;

  color: var(--whiteColor);
  border: 1px solid var(--whiteColor);
  padding: 1rem;
  border-radius: 50px;

  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.3);
}

.global-nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* footer */

footer {
  color: var(--whiteColor);
  background-color: var(--darkColor);
  height: 8rem;
}

footer a {
  display: block;
  width: max-content;
  margin: 0 auto;
}
