.logo {
  position: fixed;
  top: 1rem;
  left: 1rem;
  display: flex;

  padding: 0.5rem;
  background-color: var(--highlightColor);
  border-radius: 20px;
}

body {
  /* color: #262262; */
  color: var(--highlightColor);
}

h1 {
  font-family: "Taviraj", sans-serif;
  font-size: clamp(2.5rem, 5vw, 5rem);
  text-align: center;

  /* color: var(--whiteColor); */
  color: var(--highlightColor);
  font-weight: 800;
  padding-top: 7rem;
  padding-bottom: 2rem;
  /* background-image: url("../assets/attractions/images/saigon-r1.jpg"); */

  width: 100%;

  background-size: cover;
  background-repeat: no-repeat;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

table,
tr,
th,
td,
caption {
  border: 1px solid var(--whiteColor);
  /* border-collapse: collapse; */
  border-spacing: 0.5rem 1rem;
  border-radius: 25px;
  padding: 0.5rem;
}

table {
  width: 15.625rem;
  background-color: #af1527;
}

thead {
  color: #262262;
}
tbody {
  font-style: italic;
}
td,
th {
  background-color: var(--backgroundColor);
}

caption {
  border: none;
  margin: 0.5rem 0;
  font-size: 2rem;
}

td {
  text-align: center;
}
td a {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  color: var(--highlightColor) !important;
  color: #262262 !important;
}

.attractions {
  background-color: #af152792;
}

.food {
  background-color: #b6d7efd2;
}
