.logo {
  position: fixed;
  top: 1rem;
  left: 1rem;
  display: flex;

  padding: 0.5rem;
  background-color: var(--highlightColor);
  border-radius: 20px;
}

h1 {
  text-align: center;
  padding-top: 7rem;
  padding-bottom: 2rem;
}
.food-articles {
  color: var(--highlightColor);
  padding: 1rem;
}

.food-articles figure {
  margin-bottom: 2rem;
}

.food-articles h3 {
  font-weight: 200;
  font-size: 1rem;
}

.food-articles p {
  padding-top: 1rem;
}

.food-articles img {
  width: 100%;
}
