.logo {
  position: fixed;
  top: 1rem;
  left: 1rem;
  display: flex;

  padding: 0.5rem;
  background-color: var(--highlightColor);
  border-radius: 20px;
}

h1 {
  font-family: "Taviraj", sans-serif;
  font-size: clamp(2.5rem, 5vw, 5rem);
  text-align: center;
  padding-top: 7rem;
  padding-bottom: 2rem;
}
.food-sections {
  color: var(--highlightColor);
  padding: 1rem;

  margin-bottom: 2rem;
}

.food-sections figure {
  margin-bottom: 2rem;
}

.food-sections h3 {
  font-weight: 200;
  font-size: 1rem;
  font-style: italic;
}

.food-sections p {
  padding-top: 1rem;
}

.food-sections img {
  width: 100%;
}

figcaption a {
  display: inline-block;
  border-radius: 10px;
  color: var(--whiteColor) !important;
  background-color: var(--highlightColor);
}
