.attractions-nav li:nth-of-type(3) {
  color: var(--highlightColor);
}

.attractions-nav li:nth-of-type(3)::after {
  background-color: var(--highlightColor);
  rotate: 45deg;
  border-radius: 10%;
}
